streamlit
streamlit-webrtc
streamlit-autorefresh
firebase-admin
google-cloud-storage
gtts
opencv-python-headless
moviepy
pandas
numpy
pytz
imageio==2.9.0
imageio-ffmpeg
moviepy==1.0.3
imageio==2.9.0
imageio-ffmpeg==0.4.7
opencv-python-headless==4.7.0.72
numpy==1.23.5
decorator==5.1.1
tqdm==4.65.0
